{% extends "portal/base.html" %}
{% block content %}
<div class="dashboard">
    <h2>Faculty Dashboard</h2>

    <!-- Lectures Section -->
    <div class="section">
        <h3>Your Lectures</h3>
        <table>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for lecture in lectures %}
                <tr>
                    <td>{{ lecture.subject }}</td>
                    <td>{{ lecture.time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- All Attendance Records According To Lecture Section -->
    <div class="section">
        <h3>All Attendance Records</h3>
        {% for lecture in lectures %}
        <h4>Subject: {{ lecture.subject }}</h4>
        <table>
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Status</th>
                    <th>Lecture Date and Time</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_records %}
                    {% if record.lecture == lecture %}
                    <tr>
                        <td>{{ record.student.username }}</td>
                        <td>{{ record.status }}</td>
                        <td>{{ record.lecture.time|date:"d M Y, H:i" }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
    
    
</div>
{% endblock %}
